/* @font-face { 
  font-family: fa; 
  src: url(arquivo.ttf); 
} */

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(83,105,118), rgb(41,46,73));
}