.App {
  width: 100vw;
  height: 100vh;
  background: #e4e4e4;

  display: flex;
}

* {
  margin: 0;
  padding: 0;

  outline: none;
  list-style: none;
  box-sizing: border-box;

  scroll-behavior: smooth;

  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}